<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  
  <Section Name="AutoScale">
    <Parameter Name="NodeTypeName" Value="StatelessFront" />
    <Parameter Name="ScaleSetId" Value="ScaleSetId" />
    <Parameter Name="ClientId" Value="ScaleSetId" />
    <Parameter Name="ClientKey" Value="ScaleSetId" />
    <Parameter Name="TenantId" Value="ScaleSetId" />
    <Parameter Name="SubscriptionId" Value="ScaleSetId" />
  </Section>
  
</Settings>
